#act-top {
	padding: .8rem;
	text-align: center;
	background-color: #fff;
}
#act-list {
	padding: .5rem .8rem;
}
.act-item {
	background-color: #fff;
	margin: .7rem 0;
	overflow: hidden;
	border-radius: 6px;
}
.act-video {
	position: relative;
	font-size: 0;
	overflow: hidden;
	> video {
		width: 100%;
	}
	> p {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: .6rem .8rem;
		color: #fff;
		font-size: 1.6rem;
		background-color: rgba(90,90,90,.5);
		transition: bottom .3s;
		> .fl {
			width: 80%;
		}
	}
}
.video-bottom {
	padding: .6rem .5rem;
	color: #aaa;
	font-size: 1.5rem;
	> img {
		width: 2.9rem;
		height: 2.9rem;
		border-radius: 100%;
	}
	> span.fr {
		font-size: 1.3rem;
		margin-top: .6rem;
	}
}
.act-img {
	float: left;
	width: 31%;
	> img {
		width: 100%;
	}
}
.act-info {
	float: left;
	width: 69%;
	padding: .8rem 1rem .4rem;
}
.act-title {
	color: #000;
	font-size: 1.7rem;
	margin-bottom: .6rem;
}
.act-organize {
	> img {
		float: left;
		width: 3rem;
		height: 3rem;
		border-radius: 100%;
	}
	> span {
		float: left;
		width: 77%; 
		color: #bbb;
		margin-top: .6rem;
		font-size: 1.5rem;
	}
}
.act-time {
	color: #111;
	margin: .8rem 0;
	font-size: 1.5rem;
}
.act-operate {
	position: relative;
	margin-top: 1rem;
	> button {
		width: 8rem;
		height: 2.6rem;
		color: #fff;
		background-color: #999;
		border-radius: 6px;
		border: none;
		outline: none;
		font-size: 1.3rem;
	}
	> button.active {
		background-color: $mainColor;
	}
	> span {
		color: #bbb;
		vertical-align: bottom;
		font-size: 1.4rem;
	}
	> img {
		position: absolute;
		width: 6rem;
		height: 6rem;
		right: 0;
		bottom: -1rem;
	}
}