#none-club {
	width: 100%;
	text-align: center;
	> p {
		color: #999;
		font-size: 1.5rem;
	}
	> a {
		display: inline-block;
		margin: 1.5rem 0;
		padding: .7rem 3rem;
		font-size: 1.6rem;
		border-radius: 20px;
		color: #fff;
		background-color: $mainColor;
	}
}

// club-select
#cselect-top {
	padding: .1rem .3rem 0 .8rem;
	line-height: 4.5rem;
	color: #111;
	background-color: #eee;
	img {
		width: 2.6rem;
		margin-right: .2rem;
		vertical-align: -.8rem;
	}
}
#club-list {
	padding: .2rem .6rem;
}
.club-item {
	padding: .7rem 0;
	border-bottom: 1px solid #eee;
	> .portrait-wrap {
		float: left;
		width: 26%;
		line-height: 7rem;
		text-align: center;
		padding-left: 1rem;	
	}
	.portrait {
		width: 90%;
		height: auto;
	}
}
.club-info {
	width: 74%;
	padding-left: .5rem;
	> h2 {
		color: #000;
		font-size: 1.7rem;
	}
	> h3 {
		color: #888;
		margin: .5rem 0;
	}
	p {
		color: #222;
	}
}

/*club-detail*/
#cdetail-top {
	position: relative;
	padding: 1.3rem 0;
	text-align: center;
	color: #fff;
	background-color: $mainColor;
	> h2 {
		margin: .8rem 0;
	}
	> img { 
		width: 7.2rem;
		height: 7.2rem;
	}
	> button {
		position: absolute;
		right: .8rem;
		top: 1.2rem;
		padding: .6rem 1.4rem;
		padding-top: .8rem;
		font-size: 1.0rem;
		color: #fff;
		border: none;
		outline: none;
		border-radius: 2rem;
		background-color: #4d8074;
	}
}
.info-title {
	padding: .7rem .12rem;
	color: #000;
	font-size: 1.7rem;
	border-bottom: 1px solid #ddd;
}
.info-wrap {
	padding: .5rem 1.2rem;
	background-color: #fff;
}
#club-member {
	margin-top: .7rem;
	color: #111;
	li {
		float: left;
		width: 20%;
		text-align: center;
		font-size: 1.3rem;
	}
	img {
		width: 5.6rem;
		height: 5.6rem;
		border-radius: 100%;
	}
}

/*club-create*/
#ccreate-wrap {
	color: #000;
	font-size: 1.6rem;
}
.ccreate-title {
	padding: 1.2rem  .8rem;
}
.ccreate-detail {
	li {
		padding: .7rem;
		background-color: #fff;
		> span {
			display: inline-block;
			width: 8rem;
			margin-right: .5rem;
		}
		> input[type='text'] {
			height: 2.8rem;
			border: none;
			outline: none;
			font-size: 1.6rem;
			vertical-align: 2px;
		}
		> img {
			position: absolute;
			right: 1rem;
			top: 1.2rem;
			width: 1rem;
		}
	}
}

.date-picker {
	position: fixed;
	left: 0;
	bottom: -17.5rem;
	width: 100%;
	text-align: center;
	border-top: 1px solid #eee;
	background-color: #fff;
	transition: bottom 200ms;
	> p {
		color: $mainColor;
		font-size: 2.1rem;
		padding: 1rem;
		text-align: right;
	}
}
.dpicker-body {
	height: 9.8rem;
	overflow: scroll;
}
.dpicker-item {
	width: 100%;
	height: 3.8rem;
	line-height: 3.8rem;
	font-size: 2.5rem;
	color: #999;
	transform: scaleY(0.6);
	&.sub-active {
		color: #666;
		transform: scaleY(0.8);
	}
	&.active {
		color: #000;
		transform: scaleY(1);
	}
}