#uinfo-top {
	color: #fff;
	padding: .8rem 0.2rem;
	padding-top: 1rem;
	font-size: 1.4rem;
	background-color: $mainColor;
}
#uinfo-wrap {
	padding: 0 .6rem;
	background-color: #fff;
}
.uinfo-item {
	padding: .7rem .3rem;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	span {
		display: inline-block;
		width: 6.6rem;
		font-size: 1.5rem;
		padding: 0.2rem;
		margin-right: .4em;
		color: #333;
	}
	input[type='text'] {
		width: 15.5rem;
		height: 2.6rem;
		color: #000;
		font-size: 1.5rem;
		border: none;
		outline: none;
	}
	> input[type='radio'] {
		vertical-align: -2px;
	}
	label {
		margin-right: 1rem;
	}
	img {
		width: .9rem;
		float: right;
		margin: 6px 7px 0 0;
	}
	&:last-of-type {
		border-bottom: none;
		padding-bottom: none;
	}
}
.scode-send-wrap {
	> input[type='text'] {
		width: 11rem;
	}
	> input[type='button'] {
		float: right;
		height: 2.7rem;
		border: 1px solid #aaa;
		border-radius: 6px;
		background-color: #fff;
		padding: 0 5px;
		outline: none;
		font-size: 1.2rem;
		color: #999;
	}
	> input[type='button'].active {
		color: #fff;
		border: none;
		background-color: $mainColor;
	}
}

