#uinfo-top {
	color: #fff;
	padding: .8rem;
	padding-top: 1rem;
	font-size: 1.4rem;
	background-color: $mainColor;
}
.radio-wrap {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
	> input[type='radio'] {
		position: relative;
		vertical-align: -1px;
		opacity: 0;
		width: 1.5rem;
		height: 1.5rem;
		z-index: 10;
		margin-right: .2rem;
		&:checked {
			+ .radio-temp {
				background-color: $mainColor;
			}
		}
	}
}
.radio-temp {
	display: inline-block;
	position: absolute;
	left: 0;
	top: .2rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	border: 2px solid $mainColor;
}
.scode-send-wrap {
	input[type='text'] {
		padding-right: 7rem;
	}
	> button {
		position: absolute;
		right: .6rem;
		top: .7rem;
		height: 2.8rem;
		border: 1px solid #aaa;
		border-radius: 6px;
		background-color: #fff;
		padding: 0 5px;
		outline: none;
		font-size: 1.2rem;
		color: #999;
	}
	> button.active {
		color: #fff;
		border: none;
		background-color: $mainColor;
	}
}