@media screen and (max-width: 350px){
	.portrait {
		width: 6rem;
		height: 6rem;
	}
	.apply-detail {
		> h1 {
			font-size: 1.8rem;
		}
		> h2 {
			font-size: 1.4rem;
		}
		> p {
			font-size: 1.4rem;
		}
	}
	.act-organize {
		> img {
			width: 2.3rem;
			height: 2.3rem;
		}
		> span {
			margin-top: .4rem;
			font-size: 1.3rem;
		}
	}
	.act-title {
		font-size: 1.6rem;
		margin-bottom: .5rem;
	}
	.act-time  {
		margin: .8rem 0;
		font-size: 1.3rem;
	}
	.act-operate {
		margin-top: .7rem;
	}
	.uinfo-item input[type='text'] {
		width: 15.4rem;
	}
	.scode-send-wrap {
		> input[type='text'] {
			width: 8rem;
		}
	}
	#club-member li img {
		width: 5rem;
		height: 5rem;
	}
	.online-act {
		img {
			width: 46%;
		}
	}
	.ccreate-detail li {
		> input[type='text'] {
			width: 15.5rem;
		}
		> textarea {
			width: 15.5rem;
		}
	}
}

@media screen and (min-width: 390px) {
	.ccreate-detail li {
		> input[type='text'] {
			width: 21rem;
		}
		> textarea {
			width: 21rem;
		}
	}
}