<include file="Common/header" title="首页" keywords="主页" description=""/>
	
	<style>body {background-color: #f2f2f2}</style>

	<div id="act-top" >
		<button class="round-button active">活动</button><button class="round-button">社团</button>
	</div>
	<div class="search-wrap">
		<img src="__PUBLIC__/images/search.png" alt=""><input type="text" placeholder="搜索活动">
	</div>
	<div id="banner-wrap" class="none">
		<div class="imgbox">
		    <ul class="clearfix">
		        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
		        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
		        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
		    </ul>
		</div>
		<div class="page">
		    <ol>
		        <li class="active"></li>
		        <li></li>
		        <li></li>
		    </ol>
		</div>
		
	</div>
	<div class="acttype-head">
		<span>线上活动</span>
		<a href="">
			<div class="fr">
				<span>更多</span>
				<img src="__PUBLIC__/images/arrow_right.png" alt="">
			</div>
		</a>
	</div>
	<div class="online-act">
		<a href=""><img src="__PUBLIC__/images/actdetail.png" alt=""></a>
		<a href=""><img src="__PUBLIC__/images/actdetail.png" alt=""></a>
		<a href=""><img src="__PUBLIC__/images/actdetail.png" alt=""></a>
		<a href=""><img src="__PUBLIC__/images/actdetail.png" alt=""></a>
	</div>
	<div class="acttype-head">
		<span>线下活动</span>
		<a href="">
			<div class="fr">
				<span>更多</span>
				<img src="__PUBLIC__/images/arrow_right.png" alt="">
			</div>
		</a>
	</div>
	<div id="act-list" class="pre-navbt">
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity1.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity1.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity1.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item">
			<div class="act-video">
				<video src="__PUBLIC__/video/v1.mp4" poster="__PUBLIC__/images/poster1.png" controls></video>
				<p><span class="fl one-line">因为青春</span><span class="fr">2.33</span></p>
			</div>
			<div class="video-bottom">
				<img src="__PUBLIC__/images/actorg1.png" alt="">
				<span>大了个学</span>
				<span class="fr">8月15日发布</span>
			</div>
		</div>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item active"><img src="__PUBLIC__/images/home.png" alt=""><p>首页</p>
		</div>
		<a href="{:U('Index/user')}">
			<div class="navbt-item"><img src="__PUBLIC__/images/topic_gray.png" alt=""><p>话题</p>
			</div>
		</a>
		<a href="{:U('Index/user')}">
			<div class="navbt-item"><img src="__PUBLIC__/images/person_gray.png" alt=""><p>我的</p>
			</div>
		</a>
	</div>
	
	<script src="__PUBLIC__/script/min/swipe.min.js"></script>
	<script>
		$(function() {
			$("#banner-wrap").removeClass('none');
			var scrollImg = $.mggScrollImg('.imgbox ul',{
		        loop: true,//循环切换
		        auto: true,//自动切换
		        callback: function(ind){
		            $('.page li').eq(ind).addClass('active').siblings().removeClass('active');
		        }
		    });
			$(".round-button").click(function() {
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
			});
			$(".act-video > p").click(function(){
				$(this).css('bottom','-40px');
			});
		})
	</script>
<include file="Common/footer" />