<include file="Common/header" title="话题" keywords="话题" description=""/>

	<div id="act-top" >
		<button class="round-button active">热门</button><button class="round-button">最新</button>
		<a class="club-create-button"><i class="fa fa-plus"></i>发布</a>
	</div>
	
	<div id="topic-list" class="pre-navbt">
		<ul>
			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							评论
						</li>
						<li class="topic-ibottom-item active">
							<i class="fa fa-heart"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
				<a class="club-watch"><i class="fa fa-plus"></i><span>关注</span></a>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							评论
						</li>
						<li class="topic-ibottom-item active">
							<i class="fa fa-heart"></i>14
						</li>
						<li class="topic-ibottom-item active"><i class="fa fa-star"></i>收藏</li>
					</ul>
				</div>
				<a class="club-watch"><i class="fa fa-plus"></i><span>关注</span></a>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							5
						</li>
						<li class="topic-ibottom-item">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item active"><i class="fa fa-star"></i>收藏</li>
					</ul>
				</div>
				<a class="club-watch"><i class="fa fa-plus"></i><span>关注</span></a>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							22
						</li>
						<li class="topic-ibottom-item ">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
				<a class="club-watch"><i class="fa fa-plus"></i><span>关注</span></a>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							3
						</li>
						<li class="topic-ibottom-item">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
				<a class="club-watch"><i class="fa fa-plus"></i><span>关注</span></a>
			</li>
		</ul>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item"><i class="fa fa-home"></i><p>首页</p>
		</div>
		<div class="navbt-item active"><i class="fa fa-file-text-o"></i><p>话题</p>
		</div>
		<a href="{:U('Index/user')}">
			<div class="navbt-item"><i class="fa fa-user"></i><p>我的</p>
			</div>
		</a>
	</div>
	<div class="mark-publish-wrap">
		<p class="mark-publish-head">
			<span class="fl">取消</span>
			<span class="fr">发布</span>
		</p>
		<div class="mark-publish-body">
			<textarea placeholder="写评论..."></textarea>
			<p><img src="__PUBLIC__/images/picture.png" alt=""><span>添加图片</span></p>
		</div>
	</div>

	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script>
	$(function() {
		$("#topic-list").on('click','.topic-ibottom-item:first-child',function() {
			$(".mark-publish-wrap").css('bottom','0');
		});

		$(".mark-publish-head span.fl").click(function() {
			$(".mark-publish-wrap").css("bottom", '-21rem');
		});

		$(".mark-publish-head span.fr").click(function() {
			var text = $(".mark-publish-body > textarea").val().trim();
			if (text == '') {
				myalert("评论不能为空！");
				return;
			}
			$(".mark-publish-wrap").css("bottom", '-21rem');
		});
	})
	</script>
<include file="Common/footer" />