<include file="Common/header" title="活动详情" keywords="活动详情" description=""/>
	<div id="adetail-img">
		<img src="__PUBLIC__/images/actdetail.png" alt="">
	</div>
	<div id="adetail-body">
		<p>蒙牛校园全明星~早间青春SHOW</p>
		<div class="detail-info">
			<ul>
				<li class="clearfix">
					<span>发起人</span>
					<p>蒙牛早餐奶(浙江工业大学)</p>
				</li>
				<li class="clearfix">
					<span>活动时间</span>
					<p>2016.9.2 - 2016.9.29</p>
				</li>
				<li class="clearfix">
					<span>活动地点</span>
					<p>浙江省杭州市临安市环城北路88号</p>
				</li>
				<li class="clearfix">
					<span>活动费用</span>
					<p>免费</p>
				</li>
				<li class="clearfix">
					<span id="adetail-count">参与人员(123人)</span>
				</li>
				<li>
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<img src="__PUBLIC__/images/user3.jpg" alt="">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<img src="__PUBLIC__/images/user3.jpg" alt="">
				</li>
			</ul>
		</div>
		<p>活动介绍</p>
		<div id="adetail-intro" class="pre-navbt">
			<span>浙江省杭州市临安市环城北路88号浙江省杭州市临安市环城北路88号浙江省杭州市临安市环城北路88号浙江省杭州市临安市环城北路88号浙江省杭州市临安市环城北路88号</span>
		</div>
	</div>
	
	<div id="adetail-navbt" class="nav-bottom">
		<div class="navbt-item"><span>社团互助</span>
		</div>
		<div class="navbt-item active"><span>立即报名</span>
		</div>
	</div>
<include file="Common/footer" />