<include file="Common/header" title="我的活动" keywords="我的活动" description=""/>

	<style>body {background-color: #f2f2f2}</style>

	<div id="act-top">
		<button class="round-button active">我参加的</button><button class="round-button">我发起的</button>
	</div>
	<div id="act-list">
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">取消报名</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
<script>
	$(function() {
		$(".round-button").click(function() {
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
			if($(this).prev().length) {
				myalert('功能有待开发');
			}
		});
		$(".act-operate button").click(function(){
			myalert('取消报名成功');
		})
	})
</script>
<include file="Common/footer" />