<include file="Common/header" title="审核申请" keywords="审核申请" description=""/>
	
	<div id="apply-list">
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
		<div class="apply-item clearfix">
			<div class="apply-info">
				<div class="portrait-wrap">
					<img class="portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="apply-detail">
					<h1>路意义</h2>
					<h2>浙江传媒大学</h4>
					<p class="one-line">简介：(暂无简介)</p>
				</div>
			</div>
			<div class="check-button-wrap">
				<button class="active">通过审核</button>
				<br>
				<button class="inactive">拒绝申请</button>
			</div>
		</div>
	</div>
	
<include file="Common/footer" />