<include file="Common/header" title="社团详情" keywords="社团详情" description=""/>
	<style>body {background-color: #ebebeb}</style>
	<div id="cdetail-top">
		<img class="portrait" src="__PUBLIC__/images/user1.jpg" alt="">
		<h2>大学生创业协会</h2>
		<p>浙江工业大学</p>
		<button class="_exit">退出社团</button>
	</div>
	<div id="club-info" class="info-wrap">
		<p class="info-title">社团资料</p>
		<div class="detail-info">
			<ul>
				<li class="clearfix">
					<span>社团团长</span>
					<p>路意义</p>
				</li>
				<li class="clearfix">
					<span>社团级别</span>
					<p>校级组织</p>
				</li>
				<li class="clearfix">
					<span>社团简介</span>
					<p>大学生就业协会立志于为广大高校毕业生创造良好的就业环境及条件。</p>
				</li>
			</ul>
		</div>
	</div>
	<div id="club-member" class="pre-navbt info-wrap">
		<p class="info-title">社团成员</p>
		<div class="detail-info clearfix">
			<ul>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user3.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user3.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li><li><img src="__PUBLIC__/images/user3.jpg" alt=""><h4>路意义</h4></li>
			</ul>
		</div>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item"><span>发布活动</span>
		</div>
		<div class="navbt-item active"><span>发布公告</span>
		</div>
	</div>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script>
		$("#cdetail-top").on('click','._apply',function() {
			myalert('您的申请已收到，社团管理员将在24小时内完成审核，请耐心等待。');
			$(this).removeClass('_apply').addClass('_wait')
			.text('等待审核');
		}).on('click','._exit',function() {
			var that = this;
			myconfirm('确定退出该社团吗？',function() {
				$(that).removeClass('_exit').addClass('_apply').text('申请加入');
			})
		})
	</script>
<include file="Common/footer" />