<include file="Common/header" title="社团主页" keywords="社团主页" description=""/>
	
	<div id="homepage-top">
		<div id="homepage-intro">
			<img src="__PUBLIC__/images/user1.jpg" alt="">
			<h2>大学生创业协会</h2>
			<p>关注数 2345</p>
			<div id="homepage-rank">
				<p><img src="__PUBLIC__/images/star.png" alt=""></p>
				<div class="rank-bar-wrap">
					<div class="rank-bar">
						<span class="rank-bar-score" data-score="50"></span>
					</div>
				</div>
				<p>535/1000</p>
				<div class="hrank-explain">
					<img src="__PUBLIC__/images/mark_wen.png" alt="">
					等级说明
				</div>
			</div>
		</div>
		<a class="homepage-watch"><i class="fa fa-plus"></i><span>关注</span></a>
		<a class="homepage-sign"><i class="fa fa-plus"></i><span>签到</span></a>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团公告
			<a href="{:U('Index/edit-notice')}">
				<span class="fr">
					<i class="fa fa-pencil"></i>
					修改
				</span>
			</a>
		</p>
		<div id="adetail-intro">
			社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团
		</div>
	</div>

	<div class="adetail-wrap">
		<p class="adetail-head">社团相册
			<a href="{:U('Index/club-album')}">
				<span class="fr">更多
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div id="adetail-ablum" class="clearfix">
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
		</div>
	</div>
	
	<div id="club-member" class="adetail-wrap">
		<p class="adetail-head">社团成员
			<a href="{:U('Index/member-list')}">
				<span class="fr">更多
				<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div class="detail-info clearfix">
			<ul>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user3.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
			</ul>
		</div>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团活动
			<a href="{:U('Index/act-list')}">
				<span class="fr">更多
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div id="homepage-actlist">
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="homepage-submit">
		<button class="submit">输入口令加入</button>
	</div>
	<div class="center trans-alert none">
		<img src="__PUBLIC__/images/tick.png" alt="">
		<p></p>
	</div>

	<div id="vadetail-pop" class="center none">
		<div id="vadetail-pop-body">
			<h1>社团最佳CP评选</h1>
			无论你是闺蜜，兄弟，还是基友= =<br>
			只要你敢秀出你们的合照及故事<br>
			就有机会获得我们的奖品<br>
			<h2>奖项设置：</h2>
			第一名：XXXXXX<br>
			第二名：XXXXXX<br>
			第三名：XXXXXX<br>
			4-10名：XXXXXX<br>
			最佳闺蜜奖1名：XXXXX<br>
			最佳基友奖1名：XXXXX<br>
			<h5>本活动最终解释权由大乐个学所有</h5>
		</div>
		<a>关闭</a>
	</div>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script>
		$(function() {
			var width = $(".rank-bar-score").attr('data-score');
			$(".rank-bar-score").css('width',width + "%");
			
		    $(".homepage-watch").click(function() {
		    	if($(this).hasClass("_watch")) {
		    		return;
		    	}
		    	$(this).addClass('_watch').find('.fa').addClass('none').next('span').text('已关注');
		    	$(".trans-alert p").text('关注成功').parent().removeClass('none');
		    	setTimeout(function() {
		    		$(".trans-alert").addClass('none');
		    	},1400)
		    });

		    $(".homepage-sign").click(function() {
		    	if($(this).hasClass("_sign")) {
		    		return;
		    	}
		    	$(this).addClass('_sign').find('.fa').addClass('none').next('span').text('已签到');
		    	$(".trans-alert p").text('签到成功').parent().removeClass('none');
		    	setTimeout(function() {
		    		$(".trans-alert").addClass('none');
		    	},1400)
		    });
		    $(".hrank-explain").click(function() {
		    	$("#vadetail-pop").removeClass("none");
		    });
		    $("#vadetail-pop a").click(function() {
		    	$("#vadetail-pop").addClass("none");
		    });
		    $(".submit").click(function() {
		    	myprompt("请输入加入口令",function(val) {
		    			if(val === '') {
		    				myalert("口令不能为空！");
		    				return;
		    			}
		    		myalert("恭喜您！成功加入“大学生创业社团”");
		    	}, "例：123456789");
		    })
		})
	</script>
<include file="Common/footer" />