<include file="Common/header" title="选择社团" keywords="选择社团" description=""/>

	<div id="cselect-top">
		<img src="__PUBLIC__/images/add.png" alt="">
		<span>没有感兴趣的社团？那就自己创建一个吧！</span>
	</div>
	<div id="club-list">
		<ul>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user3.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)</p>
				</div>
			</li>
			<li class="club-item clearfix">
				<div class="portrait-wrap">
					<img class="fl portrait" src="__PUBLIC__/images/user2.jpg" alt="">
				</div>
				
				<div class="club-info fl">
					<h2>大学生就业协会</h2>
					<h3>安徽师范大学</h3>
					<p class="one-line">简介:(暂无介绍)简介:(暂无介绍)简介:(暂无介绍)简介:(暂无介绍)</p>
				</div>
			</li>
		</ul>
	</div>
<include file="Common/footer" />