<include file="Common/header" title="社团主页" keywords="社团主页" description=""/>
	
	<div id="homepage-top">
		<div id="homepage-intro">
			<img src="__PUBLIC__/images/user1.jpg" alt="">
			<h2>大学生创业协会</h2>
			<p>关注数 2345</p>
		</div>
		<div id="homepage-banner" class="none">
			<div class="imgbox">
			    <ul class="clearfix">
			        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
			        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
			        <li><a href=""><img src="__PUBLIC__/images/banner.jpg" alt=""></img></a></li>
			    </ul>
			</div>
			<div class="page">
			    <ol>
			        <li class="active"></li>
			        <li></li>
			        <li></li>
			    </ol>
			</div>
		</div>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团公告
			<a href="{:U('Index/edit-notice')}">
				<span class="fr">
					<i class="fa fa-pencil"></i>
					修改
				</span>
			</a>
		</p>
		<div id="adetail-intro">
			社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团公告社团
		</div>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团相册
			<a href="{:U('Index/club-album')}">
				<span class="fr">更多
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div id="adetail-ablum" class="clearfix">
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
			<div class="adetail-ablum-item"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
		</div>
	</div>
	
	<div id="club-member" class="adetail-wrap">
		<p class="adetail-head">社团成员
			<a href="{:U('Index/member-list')}">
				<span class="fr">更多
				<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</p>
		<div class="detail-info clearfix">
			<ul>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user3.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user1.jpg" alt=""><h4>路意义</h4></li>
				<li><img src="__PUBLIC__/images/user2.jpg" alt=""><h4>路意义</h4></li>
			</ul>
		</div>
	</div>
	
	<div class="adetail-wrap">
		<p class="adetail-head">社团活动
			<a href="{:U('Index/act-list')}">
				<span class="fr">更多<i class="fa fa-angle-right"></i></span>
			</a>
		</p>
		<div id="homepage-actlist">
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
			<div class="act-item clearfix">
				<div class="act-img"><a href="{:U('Index/actdetail')}"><img src="__PUBLIC__/images/activity2.png" alt=""></a></div>
				<div class="act-info">
					<h2 class="act-title one-line">
						<a href="{:U('Index/actdetail')}">蒙牛全明星~早间青春SHOW</a>
					</h2>
					<div class="act-organize clearfix">
						<img src="__PUBLIC__/images/actorg1.png" alt="">
						<span class="one-line">发起人(浙江工业大学)</span>
					</div>
					<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
					<div class="act-operate">
						<span>2016年10月20日发布</span>
						<img src="__PUBLIC__/images/activity_ing.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="homepage-submit">
		<a href="{:U('Index/launch-activity')}">
			<button class="submit">发起活动</button>
		</a>
	</div>
	<script src="__PUBLIC__/script/min/swipe.min.js"></script>
	<script>
		$(function() {
			$("#homepage-banner").removeClass('none');
			var scrollImg = $.mggScrollImg('.imgbox ul',{
		        loop: true,
		        auto: true,
		        callback: function(ind){
		            $('.page li').eq(ind).addClass('active').siblings().removeClass('active');
		        }
		    });
		})
	</script>
<include file="Common/footer" />