<include file="Common/header" title="大乐个学" keywords="主页" description=""/>
	
	<style>body {background-color: #f2f2f2}</style>

	<div id="act-top" >
		<button class="round-button active">官方活动</button><button class="round-button">社团活动</button>
	</div>
	<div id="notice-wrap">
		<div id="notice-head" class="clearfix">
			<p class="fl"><span>[公告]</span>成员须知</p>
			<p class="fr">路三三 2016年8月26日</p>
		</div>
		<div id="notice-body">
			各位同学，进入社团请实名，格式按照“学院+姓名”，如理学院-库三三。各位同学，进入社团请实名，格式按照“学院+姓名”，如理学院-库三三。
		</div>
	</div>
	
	<div id="act-list" class="pre-navbt">
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button>社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					蒙牛全明星~早间青春SHOW
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">蒙牛早餐奶(浙江工业大学)</span>
				</div>
				<p class="act-time">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<button class="active">社团互助</button>
					<span>一天前发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item"><img src="__PUBLIC__/images/home_white.png" alt=""><span>首页</span>
		</div>
		<div class="navbt-item active"><img src="__PUBLIC__/images/person.png" alt=""><span>我的</span>
		</div>
	</div>


	<script>
		$(function() {
			$(".round-button").click(function() {
				$(this).addClass('active');
				$(this).siblings().removeClass('active');
			})
		})
	</script>
<include file="Common/footer" />