<include file="Common/header" title="我的信息" keywords="我的信息" description=""/>

	<style>body {background-color: #eee}</style>
	<div id="uinfo-top">
		完善个人信息才能加入社团,或者创建属于自己的社团哦！
	</div>
	<div id="uinfo-detail">
		<form action="">
			<div id="uinfo-wrap">
				<div class="uinfo-item">
					<span>姓名</span>
					<input type="text" value="路三三" placeholder="请输入您的真实姓名">
				</div>
				<div class="uinfo-item">
					<span>性别</span>
					<input id="uitem-man" type="radio" name="sex" value="1" checked>
					<label for="uitem-man">男</label>
					<input id="uitem-woman" type="radio" name="sex" value="2">
					<label for="uitem-woman">女</label>
				</div>
				<div class="uinfo-item">
					<a href="{:U('Index/school')}">
						<span>学校</span>
						<input type="text" value="浙江工业大学" placeholder="请输入您所在的学校" readonly>
						<img src="__PUBLIC__/images/arrow_right.png" alt="">
					</a>
				</div>
				<div class="uinfo-item">
					<span>学院院系</span>
					<input type="text" placeholder="请输入您所在的学校或院系" value="信息工程学院">
				</div>
				<div class="uinfo-item">
					<span>专业班级</span>
					<input type="text" value="信管121班" placeholder="请输入您所在的专业班级">
				</div>
				<div class="scode-send-wrap uinfo-item">
					<span>手机号码</span>
					<input type="text" value="18896554856" placeholder="手机号码" name="phone">
					<input type="button" value="发送验证码">
				</div>
				<div class="uinfo-item">
					<span>验证码</span>
					<input type="text" placeholder="请输入您收到的验证码">
				</div>
			</div>
			<input class="submit" type="submit" value="确认修改">
		</form>
	</div>

	<script src="__PUBLIC__/script/min/validate.min.js"></script>

<include file="Common/footer" />