<include file="Common/header" title="我的" keywords="我的" description=""/>

<form action="" method="post" enctype="multipart/form-data">
	<div class="portrait-modify">
		<img src="__PUBLIC__/images/user1.jpg" alt="">
		<span>更改头像</span>
		<i class="fa fa-angle-right"></i>
		<input type="file">
	</div>

	<div class="info-modify">
		<ul>
			<li class="imodify-item">
				<p>昵称</p>
				<div class="imodify-item-detail">
					<span>大乐个学</span>
					<input type="text">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
			<li class="imodify-item change-sex">
				<p>性别</p>
				<div class="imodify-item-detail">
					<span>男</span>
					<input type="text">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
			<li class="imodify-item">
				<p>学校</p>
				<div class="imodify-item-detail">
					<span>安徽师范大学</span>
					<input type="text">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
			<li class="imodify-item">
				<p>学院/院系</p>
				<div class="imodify-item-detail">
					<span>信息工程学院</span>
					<input type="text">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
			<li class="imodify-item">
				<p>专业班级</p>
				<div class="imodify-item-detail">
					<span>信管121级</span>
					<input type="text">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</ul>
	</div>
	<button class="submit">确认修改</button>
</form>
<div class="panel-wrap none"></div>
<div class="input-panel">
	<div class="input-wrap">
		<input type="text">
		<i class="fa fa-close"></i>
	</div>
	<button class="input-button">修改</button>
</div>
<script>
	$(function() {
		$(".imodify-item").each(function() {
			if($(this).hasClass('change-sex')) {
				return;
			}
			$(this).click(function() {
				$(".panel-wrap").removeClass("none");
				$(".input-panel").css('bottom','0');
			});
		})

		$(".panel-wrap").click(function() {
			$(".panel-wrap").addClass("none");
			$(".input-panel").css('bottom','-7rem');
		});

		$(".fa-close").click(function() {
			$(this).prev('input').val('');
		})
	})
</script>
<include file="Common/footer" />