<include file="Common/header" title="发起活动" keywords="发起活动" description=""/>
	<style>
		.mark-publish-img {height: auto;}
		.mark-img-button > img {width: 5rem;height: 5rem;}
		.mark-item-img > img {width: 5rem;height: 5rem;}
	</style>
	<div id="ccreate-wrap">
		<form action="" method="post" enctype="multipart/form-data" onsubmit="return check();">
			<p class="ccreate-title">
				填写活动资料
			</p>
			<div class="ccreate-detail">
				<ul>
					<li><span>活动名称</span>
						<div class="cdinput-wrap">
							<input type="text" name="name" placeholder="请输入活动名称">
						</div>
					</li>
					<li class="show-dpicker pr" data-id="0">
						<span>开始时间</span>
						<div class="cdinput-wrap">
							<input type="text" name="starttime" value="未设置" readonly>
						</div>
						<i class="fa fa-angle-right"></i>
					</li>
					<li class="show-dpicker pr" data-id="1">
						<span>结束时间</span>
						<div class="cdinput-wrap">
							<input type="text" name="endtime" value="未设置" readonly>
						</div>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<span>活动地点</span>
						<div class="cdinput-wrap">
							<input type="text" name="location" placeholder="请输入活动地点">
						</div>
					</li>
				</ul>
			</div>
			<div class="ccreate-detail">
				<ul>
					<li>
						<span>添加图片</span>
						<div class="cdinput-wrap album-add">
							<span>添加图片</span>
						</div>
					</li>
					<div class="mark-publish-img">
					    <div class="mark-img-button">
					        <img src="__PUBLIC__/images/add_picture.png" alt="">
					        <input type="file" name="album[]">
					    </div>
					</div>
				</ul>
			</div>
			<div class="ccreate-detail">
				<ul>
					<li>
						<span>活动介绍</span>
						<div class="cdinput-wrap">
							<textarea name="intro" placeholder="请输入活动介绍"></textarea>
						</div>
					</li>
				</ul>
			</div>
			<p class="rank-top"><i class="fa fa-question-circle"></i>社团赞助等级规则</p>
			<div class="ccreate-detail">
				<p id="rank-head">当前社团等级为<img src="__PUBLIC__/images/star.png" alt=""><span>申请赞助</span><input type="checkbox"></p>
				<div id="rank-body">
					<div class="rank-item">
						<span class="fl">资金需求</span>
						<div class="rank-input-wrap">
							<input type="text" name="fund" disabled>元
						</div>
					</div>
					<div class="rank-item">
						<span class="fl">物资需求</span>
						<div class="rank-input-wrap">
							<textarea name="materials" cols="30" rows="10" placeholder="请输入需要的物资，如不需要则无需填写" disabled></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="ccreate-detail">
				<div id="special-need" class="clearfix">
					<div class="fl">
						<p>我要举办大型活动-有特殊需求</p>
						<p style="font-size:1.1rem">选择此项请保持电话畅通，等待工作人员与你联系</p>
					</div>
					<div class="fr">
						<input type="checkbox" name="special-need">
					</div>
				</div>
			</div>
			<button class="submit">立即发起</button>
		</form>
	</div>
	<div id="ladate-picker" class="date-picker">
		<p><span class="fl dpicker-cancel">取消</span>选择类型<span class="dpicker-finish fr">完成</span></p>
		<div class="dpicker-body">
			<ul>
				<li class="dpicker-item empty sub-active"></li>
				<li class="dpicker-item active">2014</li>
				<li class="dpicker-item sub-active">2015</li>
				<li class="dpicker-item">2016</li>
				<li class="dpicker-item">2017</li>
				<li class="dpicker-item empty"></li>
			</ul>
		</div>
		<div class="dpicker-info">年</div>
		<div class="dpicker-body">
			<ul>
				<li class="dpicker-item empty sub-active"></li>
				<li class="dpicker-item active">1</li>
				<li class="dpicker-item sub-active">2</li>
				<li class="dpicker-item">3</li>
				<li class="dpicker-item">4</li>
				<li class="dpicker-item">5</li>
				<li class="dpicker-item">6</li>
				<li class="dpicker-item">7</li>
				<li class="dpicker-item">8</li>
				<li class="dpicker-item">9</li>
				<li class="dpicker-item">10</li>
				<li class="dpicker-item">11</li>
				<li class="dpicker-item">12</li>
				<li class="dpicker-item empty"></li>
			</ul>
		</div>
		<div class="dpicker-info">月</div>
		<div class="dpicker-body">
			<ul>
				<li class="dpicker-item empty sub-active"></li>
				<li class="dpicker-item active">1</li>
				<li class="dpicker-item sub-active">2</li>
				<li class="dpicker-item">3</li>
				<li class="dpicker-item">4</li>
				<li class="dpicker-item">5</li>
				<li class="dpicker-item">6</li>
				<li class="dpicker-item">7</li>
				<li class="dpicker-item">8</li>
				<li class="dpicker-item">9</li>
				<li class="dpicker-item">10</li>
				<li class="dpicker-item">11</li>
				<li class="dpicker-item">12</li>
				<li class="dpicker-item">13</li>
				<li class="dpicker-item">15</li>
				<li class="dpicker-item">16</li>
				<li class="dpicker-item">17</li>
				<li class="dpicker-item">18</li>
				<li class="dpicker-item">19</li>
				<li class="dpicker-item">20</li>
				<li class="dpicker-item">21</li>
				<li class="dpicker-item">22</li>
				<li class="dpicker-item">23</li>
				<li class="dpicker-item">24</li>
				<li class="dpicker-item">25</li>
				<li class="dpicker-item">26</li>
				<li class="dpicker-item">27</li>
				<li class="dpicker-item">28</li>
				<li class="dpicker-item">29</li>
				<li class="dpicker-item">30</li>
				<li class="dpicker-item">31</li>
				<li class="dpicker-item empty"></li>
			</ul>
		</div>
		<div class="dpicker-info">日</div>
	</div>
	<div class="info-mask center none" data-status="">修改失败</div>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script src="__PUBLIC__/script/min/launchAct.min.js"></script>
<include file="Common/footer" />