<include file="Common/header" title="成员列表" keywords="成员列表" description=""/>
	<div id="member-list">
		<p class="name-initial">A</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
		</ul>
		<p class="name-initial">B</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
		</ul>
		<p class="name-initial">C</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">包师傅</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">博大神</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">博大神</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
		</ul>
		<p class="name-initial">D</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">成艰难</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">陈水扁</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">成艰难</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">陈水扁</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
				<div class="member-item-delete">删除</div>
			</li>
		</ul>
	</div>
	
	<script src="__PUBLIC__/script/min/touch.min.js"></script>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script>
		$(function() {
			$("#member-list").on('swipeLeft','.member-item',function() {
				$(".member-item").css('left','0');
				$(this).css('left','-8.2rem');
			}).on('swipeRight','.member-item',function() {
				$(this).css('left','0');
			});

			$("#member-list").on('click','.member-item-delete',function() {
				var that = $(this);
				myconfirm("确定删除该成员吗？",function() {
					myalert("删除成功！");
					that.parent('.member-item').remove();
				})
			});
		});
	</script>
<include file="Common/footer" />