<include file="Common/header" title="我的" keywords="我的" description=""/>
	
	<div id="message-type">
		<ul>
			<a href="">
				<li class="message-type-item">
					<div class="message-type-img">
						<img src="__PUBLIC__/images/official-information.png" alt="">
						<span class="badge">5+</span>
					</div>
					<span>官方消息</span>
					<i class="fa fa-angle-right"></i>
				</li>
			</a>
			<a href="">
				<li class="message-type-item">
					<div class="message-type-img">
						<img src="__PUBLIC__/images/about-me.png" alt="">
						<span class="badge">2</span>
					</div>
					<span>与我相关</span>
					<i class="fa fa-angle-right"></i>
				</li>
			</a>
			<a href="">
				<li class="message-type-item">
					<div class="message-type-img">
						<img src="__PUBLIC__/images/society-dynamics.png" alt="">
					</div>
					<span>社团动态</span>
					<i class="fa fa-angle-right"></i>
				</li>
			</a>
		</ul>
	</div>

<include file="Common/footer" />