<include file="Common/header" title="我的关注" keywords="我的关注" description=""/>
	
	<div id="fans-list">
		<ul>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
			<li class="fans-item">
				<div class="fans-item-img">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="fans-item-detail">
					<h1>按意义</h1>
					<h4>安徽师范大学</h4>
					<p>简介：（暂无介绍）</p>
				</div>
				<a class="club-watch _watch">
					<i class="fa fa-plus"></i>
					<span>已关注</span>
				</a>
			</li>
		</ul>
	</div>
<include file="Common/footer" />