<include file="Common/header" title="我参与的活动" keywords="我参与的活动" description=""/>

	<style>#act-list {padding-top: 1rem;}</style>
	<div id="act-top" >
		<a href="{:U('mine-onactivity')}" class="round-button">线上活动</a><a class="round-button active">线下活动</a>
	</div>
	<div id="act-list">
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_notstart.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_over.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity2.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
		<div class="act-item clearfix">
			<div class="act-img"><img src="__PUBLIC__/images/activity1.png" alt=""></div>
			<div class="act-info">
				<h2 class="act-title one-line">
					<a href="{:U('Index/offact-detail')}">蒙牛全明星~早间青春SHOW</a>
				</h2>
				<div class="act-organize clearfix">
					<img src="__PUBLIC__/images/actorg1.png" alt="">
					<span class="one-line">发起人(浙江工业大学)</span>
				</div>
				<p class="act-time one-line">活动时间: 2016.9.2 - 9.30</p>
				<div class="act-operate">
					<span>2016年10月20日发布</span>
					<img src="__PUBLIC__/images/activity_ing.png" alt="">
				</div>
			</div>
		</div>
	</div>
	
<include file="Common/footer" />