<include file="Common/header" title="线下活动详情" keywords="活动详情" description=""/>

	<div id="adetail-img">
		<img src="__PUBLIC__/images/actdetail.png" alt="">
	</div>
	<div class="adetail-wrap">
		<p class="adetail-head">蒙牛校园全明星~早间青春SHOW</p>
		<div class="detail-info">
			<ul>
				<li class="clearfix">
					<span>发起人</span>
					<p>蒙牛早餐奶(浙江工业大学)</p>
				</li>
				<li class="clearfix">
					<span>活动时间</span>
					<p>2016.9.2 - 2016.9.29</p>
				</li>
				<li class="clearfix">
					<span>活动地点</span>
					<p>浙江省杭州市余杭区文一西路1号</p>
				</li>
				<li class="clearfix">
					<span>活动费用</span>
					<p>免费</p>
				</li>
				<li class="clearfix">
					<span id="adetail-count">参与人员(123人)</span>
				</li>
				<li id="uportrait-list">
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user1.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user2.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user3.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user1.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user2.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user3.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user2.jpg" alt="">
					</div>
					<div class="uportrait-wrap">
						<img src="__PUBLIC__/images/user3.jpg" alt="">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="adetail-wrap">
		<p class="adetail-head">活动介绍</p>
		<div id="adetail-intro">
			<span>大学校园中的你是不是有过人的才艺无处施展，蒙牛早餐奶为你提供了展现才艺的舞台。大学校园中的你是不是有过人的才艺无处施展，蒙牛早餐奶为你提供了展现才艺的舞台。</span>
		</div>
	</div>
	<div class="adetail-wrap">
		<p class="adetail-head">活动评论 <span class="fr">87条</span></p>
		<div class="mark-list pre-navbt">
			<ul>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学大了个学</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">回复<span class="mark-at">@大了个学客服</span>：你好，巴拉巴拉巴拉巴拉</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">namemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemark</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">namemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemark</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">namemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemark</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复回复</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
				<li class="mark-item">
					<div class="mark-head">
						<img src="__PUBLIC__/images/actorg1.png" alt="" class="mark-portrait">
						<span class="mark-name">大了个学</span>
						<span class="mark-date">2016-10-12</span>
					</div>
					<div class="mark-body">namemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemarknamemark</div>
					<p class="mark-reply"><span>回复</span></p>
				</li>
			</ul>
		</div>
	</div>

	<div id="adetail-navbt" class="nav-bottom">
		<div class="navbt-item"><span>评论</span>
		</div>
		<div id="offact-apply" class="navbt-item"><span>立即报名</span>
		</div>
	</div>

	<div class="mark-publish-wrap">
		<p class="mark-publish-head">
			<span class="fl">取消</span>
			发表评论
			<span class="fr">发布</span>
		</p>
		<div class="mark-publish-body">
			<textarea placeholder="写评论..."></textarea>
			<p><img src="__PUBLIC__/images/picture.png" alt=""><span>添加图片</span></p>
		</div>
	</div>

	<script src="__PUBLIC__/script/min/touch.min.js"></script>
	<script src="__PUBLIC__/script/min/mypop.min.js"></script>
	<script src="__PUBLIC__/script/min/actdetail.min.js"></script>
<include file="Common/footer" />