<include file="Common/header" title="参与人员" keywords="参与人员" description=""/>
	<div id="member-list">
		<p class="name-initial">A</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
		</ul>
		<p class="name-initial">B</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">按意义</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
		</ul>
		<p class="name-initial">C</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">包师傅</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">博大神</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">博大神</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
		</ul>
		<p class="name-initial">D</p>
		<ul>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">成艰难</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">陈水扁</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">成艰难</h1>
					<p>安徽师范大学</p>
					<div>简介：（暂无简介暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介）暂无简介））</div>
				</div>
			</li>
			<li class="member-item clearfix">
				<div class="member-portrait">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
				</div>
				<div class="member-item-detail">
					<h1 class="member-item-name">陈水扁</h1>
					<p>安徽师范大学</p>
					<div>简介：(暂无简介）</div>
				</div>
			</li>
		</ul>
	</div>

<include file="Common/footer" />