<include file="Common/header" title="社团动态" keywords="社团动态" description=""/>
	
	<div class="message-list">
		<ul>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
			<li class="message-item">
				<p class="message-time">昨天 08:12</p>
				<div class="message-body">
					<h2 class="message-title">大了个学提醒您</h2>
					通纸质纸质hi职责猴子猴子猴子猴子
				</div>
			</li>
		</ul>
	</div>

<include file="Common/footer" />