<include file="Common/header" title="发布话题" keywords="发布话题" description=""/>

	<div id="topic-publish-wrap">
		<form action="">
			<div class="ccreate-detail">
				<ul>
					<li class="topic-publish-item"><span>标题</span><input type="text" placeholder="请输入标题"></li>
					<li class="topic-publish-item"><span>内容</span><textarea name="" placeholder="请输入话题详情"></textarea>
					</li>
					<p class="club-add-img"><img src="__PUBLIC__/images/picture.png" alt=""><img src="__PUBLIC__/images/add_picture.png" alt=""></p>
				</ul>
			</div>
			<button class="submit">立即发布</button>
		</form>
	</div>
<include file="Common/footer" />