<include file="Common/header" title="话题" keywords="话题" description=""/>

	<div id="act-top" >
		<a href="{:U('Index/topic-hot')}" class="round-button">热门</a><button class="round-button active">最新</button>
		<a href="{:U('Index/topic-publish')}" class="club-create-button"><i class="fa fa-plus"></i>发布</a>
	</div>
	
	<div id="topic-list" class="pre-navbt">
		<ul>
			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
					<span class="fr">1小时前</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							评论
						</li>
						<li class="topic-ibottom-item active">
							<i class="fa fa-heart"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
					<span class="fr">1小时前</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							评论
						</li>
						<li class="topic-ibottom-item active">
							<i class="fa fa-heart"></i>14
						</li>
						<li class="topic-ibottom-item active"><i class="fa fa-star"></i>收藏</li>
					</ul>
				</div>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
					<span class="fr">1小时前</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							5
						</li>
						<li class="topic-ibottom-item">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item active"><i class="fa fa-star"></i>收藏</li>
					</ul>
				</div>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
					<span class="fr">1小时前</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							22
						</li>
						<li class="topic-ibottom-item ">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
			</li>

			<li class="topic-item">
				<div class="topic-item-head">
					<img src="__PUBLIC__/images/user1.jpg" alt="">
					<span>昵称</span>
					<span class="fr">1小时前</span>
				</div>
				<div class="topic-item-body">
					<h2>标题标题</h2>
					<p>内容内容内容</p>
					<div class="topic-item-imgs clearfix">
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
						</div>
						<div class="topic-iimg-wrap">
							<img src="__PUBLIC__/images/user3.jpg" alt="">
							<p class="topic-iimg-bottom">共n张</p>
						</div>
					</div>
				</div>
				<div class="topic-item-bottom clearfix">
					<ul>
						<li class="topic-ibottom-item">
							<i class="fa fa-commenting-o"></i>
							3
						</li>
						<li class="topic-ibottom-item">
							<i class="fa fa-heart-o"></i>14
						</li>
						<li class="topic-ibottom-item"><i class="fa fa-star-o"></i>收藏</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item">
			<a href="{:U('Index/index')}">
				<img src="__PUBLIC__/images/home_gray.png" alt=""><p>首页</p>
			</a>
		</div>
		<div class="navbt-item active">
			<img src="__PUBLIC__/images/topic.png" alt=""><p>话题</p>
		</div>
		<div class="navbt-item">
			<a href="{:U('Index/me')}">
				<img src="__PUBLIC__/images/person_gray.png" alt=""><p>我的</p>
			</a>
		</div>
	</div>
<include file="Common/footer" />