<include file="Common/header" title="发布话题" keywords="发布话题" description=""/>

	<div id="topic-publish-wrap">
		<form action="" onsubmit="return check();">
			<div class="ccreate-detail">
				<ul>
					<li class="topic-publish-item">
						<span>标题</span>
						<div class="cdinput-wrap">
							<input type="text" name="title" placeholder="请输入标题">
						</div>
					</li>
					<li class="topic-publish-item">
						<span>内容</span>
						<div class="cdinput-wrap">
							<textarea name="topic-detail" placeholder="请输入话题详情"></textarea>
						</div>
					</li>
					<p class="club-add-img"><img src="__PUBLIC__/images/picture.png" alt=""><img src="__PUBLIC__/images/add_picture.png" alt=""></p>
				</ul>
			</div>
			<button class="submit">立即发布</button>
		</form>
	</div>

	<script>
		function check() {
			if(!$("input[name='title']").val().trim()) {
				alert("标题不能为空！");
				return false;
			}
			if(!$("textarea[name='topic-detail']").val().trim()) {
				alert("内容不能为空！");
				return false;
			}
			return true;
		}
	</script>
<include file="Common/footer" />