<include file="Common/header" title="我的" keywords="我的" description=""/>
	<style>body {background-color: #ebebeb}</style>
	<div id="account-top">
		<img src="__PUBLIC__/images/user1.jpg" alt="" class="portrait">
		<p>路三三</p>
	</div>
	<div id="account-list" class="pre-navbt">
		<p><a href="{:U('Index/check')}"><span>申请审核</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></a></p>
		<ul>
			<li><a href="{:U('Index/info')}"><span>我的信息</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></a></li>
			<li><a href="{:U('Index/activity')}"><span>我的活动</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></a></li>
			<li><a href="{:U('Index/club')}"><span>我的社团</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></a></li>
		</ul>
	</div>
	<div class="nav-bottom">
		<a href="{:U('Index/index')}">
			<div class="navbt-item"><img src="__PUBLIC__/images/home_white.png" alt=""><span>首页</span>
			</div>
			<div class="navbt-item active"><img src="__PUBLIC__/images/person.png" alt=""><span>我的</span>
			</div>
		</a>
	</div>

<include file="Common/footer" />