<include file="Common/header" title="我的" keywords="我的信息" description=""/>
	<style>body {background-color: #ebebeb}</style>
	<div id="account-top">
		<img src="__PUBLIC__/images/user1.jpg" alt="" class="portrait">
		<p>路三三</p>
	</div>
	<div id="account-list" class="pre-navbt">
		<p><span>申请审核</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></p>
		<ul>
			<li><span>我的信息</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></li>
			<li><span>我的活动</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></li>
			<li><span>我的社团</span><img src="__PUBLIC__/images/arrow_right.png" alt=""></li>
		</ul>
	</div>
	<div class="nav-bottom">
		<div class="navbt-item"><img src="__PUBLIC__/images/home_white.png" alt=""><span>首页</span>
		</div>
		<div class="navbt-item active"><img src="__PUBLIC__/images/person.png" alt=""><span>我的</span>
		</div>
	</div>
<include file="Common/footer" />