<include file="Common/header" title="选手详情" keywords="选手详情" description=""/>

<style>body {padding: .8rem}</style>

<div id="player-rank">
	<p>12号 路意义</p>
	<p class="fr">排名:1  &nbsp;票数: 562票</p>
</div>
<div id="player-detail-banner">
	<div id="banner-wrap" class="none">
		<div class="imgbox">
		    <ul class="clearfix">
		        <li><a href=""><img src="__PUBLIC__/images/ranktemp.png" alt=""></img></a></li>
		        <li><a href=""><img src="__PUBLIC__/images/ranktemp.png" alt=""></img></a></li>
		        <li><a href=""><img src="__PUBLIC__/images/ranktemp.png" alt=""></img></a></li>
		    </ul>
		</div>
		<div class="page">
		    <ol>
		        <li class="active"></li>
		        <li></li>
		        <li></li>
		    </ol>
		</div>
	</div>
</div>
<div id="player-detail" class="pre-navbt">
	<p id="pdetail-head">
		选手资料
	</p>
	<div id="pdetail-body">
		<p><span class="pre-showmore">CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号CP口号</span><a class="show-more-wrap none">显示全部</a><span class="show-more none"></span></p>
		<div id="pdetail-mark-top">
			<i class="fa fa-commenting-o"></i>5
			<span class="fr"><i class="fa fa-heart"></i>14</span>
		</div>
		<div id="pdetail-mark-list">
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdmark-item">
				<div class="pdmark-item-portrait"><img src="__PUBLIC__/images/user1.jpg" alt=""></div>
				<div class="pdmark-item-detail">
					<p>
						<a>昵称1</a>
						<span class="pdmark-item-reply">回复</span>
						<span class="pdmark-item-zan">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
					</p>
					<div class="pdmark-item-body">评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1评论1</div>
				</div>
			</div>
			<div class="pdetail-mark-bottom">
				<a>查看全部评论</a>
			</div>
		</div>
	</div>
	<div class="vote-button">
		<button>为TA投票</button>
	</div>
</div>

<div class="nav-bottom">
	<div class="navbt-item active">
		<a href="{:U('Index/vote')}">
			<img src="__PUBLIC__/images/home_gray.png" alt=""><p>投票首页</p>
		</a>
	</div>
	<div class="navbt-item">
		<a href="{:U('Index/apply')}">
			<img src="__PUBLIC__/images/add_gray.png" alt=""><p>报名</p>
		</a>
	</div>
	<div class="navbt-item">
		<a href="{:U('ranking-list')}">
			<img src="__PUBLIC__/images/chart_gray.png" alt=""><p>排行榜</p>
		</a>
	</div>
</div>

<div class="mark-publish-wrap">
	<form action="" method="post" onsubmit="return check();">
		<p class="mark-publish-head">
			<span class="fl">取消</span>
			<span class="fr"><input type="submit">发表</span>
		</p>
		<div class="mark-publish-body">
			<textarea name="mark" placeholder="写评论..."></textarea>
		</div>
	</form>
</div>
<div class="info-mask center none" data-status=""></div>
<script src="__PUBLIC__/script/min/swipe.min.js"></script>
<script>
$(function() {
	var status = $(".info-mask").attr('data-status');
	if (status === '1' || status === '-1') {
		if (status === '1') {
			$(".info-mask").text('发表成功');
		} else {
			$(".info-mask").text('发表失败');
		}
		$(".info-mask").removeClass('none');
		setTimeout(function() {
			$(".info-mask").addClass('none');
		}, 1500);
	}
	$("#banner-wrap").removeClass('none');
	var scrollImg = $.mggScrollImg('.imgbox ul',{
        loop: true,//循环切换
        auto: true,//自动切换
        callback: function(ind){
            $('.page li').eq(ind).addClass('active').siblings().removeClass('active');
        }
    });

	var text = $(".pre-showmore").text();
    if(text.length > 10) {
    	$(".show-more-wrap").removeClass('none');
    	$(".pre-showmore").text(text.substr(0, 65));
    	$(".show-more").text(text.substr(65))
    }

    $(".show-more-wrap").click(function() {
    	$(this).addClass('none');
    	$(".show-more").removeClass('none');
    });
    $(".pdmark-item-zan").click(function() {
    	$(this).addClass('active');
    });
	$(".pdmark-item-reply").on('click', function() {
		$(".mark-publish-wrap").css('bottom', '0');
	});
	$(".mark-publish-head span.fl").click(function() {
		$(".mark-publish-wrap").css("bottom", '-21rem');
	});
})
function check() {
	var text = $(".mark-publish-body > textarea").val().trim();
	if (text == '') {
		alert("评论不能为空！");
		return false;
	}
	return true;
}
</script>


<include file="Common/footer" /> 