<include file="Common/header" title="选择学校" keywords="我的信息" description=""/>
	<div id="school-list">
		<p class="school-city">杭州</p>
		<ul>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
		</ul>
		<p class="school-city">芜湖</p>
		<ul>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江大学</p></li>
			<li class="school-item"><p>浙江大学</p></li>
			<li class="school-item"><p>浙江大学</p></li>
			<li class="school-item"><p>**大学</p></li>
			<li class="school-item"><p>**大学</p></li>
			<li class="school-item"><p>**大学</p></li>
		</ul>
		<p class="school-city">杭州</p>
		<ul>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
			<li class="school-item"><p>浙江**大学</p></li>
		</ul>
	</div>
	
<include file="Common/footer" />