@charset "utf-8";
/* ===============
 * Css reset(重新定义Html元素)
 * =============== */
html {
    font-family: "SimHei", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    max-width: 45rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #000;
}
a:active {
    outline: 0;
}
a:active {
    color: #006699;
}
b, strong {
    font-weight: bold;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
    vertical-align: middle;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: 'Microsoft YaHei';
}
button, select {
    text-transform: none;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input {
    line-height: normal;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    resize: vertical;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, 
blockquote,ul, ol, li, dl, dd, td, th {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none outside none;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
input::-moz-placeholder, textarea::-moz-placeholder,
input:-ms-input-placeholder, textarea:-ms-input-placeholder,
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
} 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ============================================
 * 常用宽度、高度、边距、字体、颜色、布局等样式
 * ============================================*/
.w {
     width: 100%
}
.h {
    height: 100%;
}
.col-5 {
    width: 50%;
}
.fl { 
    float: left;
}
.fr { 
    float: right;
}
.block { 
    display: block;
    zoom: 1;
}
.iblock{
    display: inline-block;
}
.none { 
    display: none;
}
.b{
    font-weight: bold;
}
.cl{
    clear: left;
}
.cr{
    clear: right;
}
.cb{
    clear: both;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}
.pf {
    position: fixed;
}
.text-w{
    color: #fff;
}
.text-b{
    color:#000;
}
.text-l {
    color: #aaa;
}
.t-left{
    text-align: left;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.spliter {
    border-left:1px solid #aaa;
}
.clearfix{
    *zoom:1;
}
.clearfix:after { 
   content:"";
   display:table;
   clear:both;
}
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.center {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3D(-50%,-50%,0);
    -ms-transform: translate3D(-50%,-50%,0);
    -moz-transform: translate3D(-50%,-50%,0);
    -o-transform: translate3D(-50%,-50%,0);
    transform: translate3D(-50%,-50%,0);
    z-index: 100;
}
.transparent {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}